#include <windows.h>

#define LANG_CODE_US_ENGLISH 0x0409
#define CHARSET_UNICODE 0x04b0
#define US_ENGLISH_UNICODE "040904b0"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,8,0,0
PRODUCTVERSION  0,8,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK US_ENGLISH_UNICODE
    BEGIN
      VALUE "CompanyName", "Groonga project"
      VALUE "FileDescription", "Full text search engine library"
      VALUE "FileVersion", "7.1.1-46-g46e97fe"
      VALUE "InternalName", "libgroonga"
      VALUE "OriginalFilename", "libgroonga-$(LT_CURRENT).dll"
      VALUE "ProductName", "libgroonga"
      VALUE "ProductVersion", "7.1.1-46-g46e97fe"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", LANG_CODE_US_ENGLISH, CHARSET_UNICODE
  END
END
